//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8
//Part Number: GW2AR-LV18QN88PC7/I6
//Device: GW2AR-18C
//Created Time: Mon 11 15 17:19:39 2021
IO_LOC "UART_TXD[3]" 27;
IO_PORT "UART_TXD[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "UART_TXD[2]" 29;
IO_PORT "UART_TXD[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "UART_TXD[1]" 31;
IO_PORT "UART_TXD[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "UART_RXD[3]" 26;
IO_PORT "UART_RXD[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "UART_RXD[2]" 28;
IO_PORT "UART_RXD[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "UART_RXD[1]" 30;
IO_PORT "UART_RXD[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "usb_dxp_io" 73,72;
IO_PORT "usb_dxp_io" PULL_MODE=NONE DRIVE=8;

IO_LOC "usb_pullup_en_o" 80;
IO_PORT "usb_pullup_en_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "usb_term_dn_io" 74;
IO_PORT "usb_term_dn_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "usb_term_dp_io" 75;
IO_PORT "usb_term_dp_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "usb_rxdn_i" 71;
IO_PORT "usb_rxdn_i" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC "usb_rxdp_i" 77;
IO_PORT "usb_rxdp_i" IO_TYPE=LVDS25 PULL_MODE=NONE;

IO_LOC "I2C_SDA[1]" 82;
IO_PORT "I2C_SDA[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "I2C_SCL[1]" 81;
IO_PORT "I2C_SCL[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "I2C_SDA[2]" 84;
IO_PORT "I2C_SDA[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "I2C_SCL[2]" 83;
IO_PORT "I2C_SCL[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "I2C_SDA[3]" 86;
IO_PORT "I2C_SDA[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "I2C_SCL[3]" 85;
IO_PORT "I2C_SCL[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "I2C_SDA[4]" 16;
IO_PORT "I2C_SDA[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "I2C_SCL[4]" 15;
IO_PORT "I2C_SCL[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "PARALLEL_GPIO[0]" 32;
IO_PORT "PARALLEL_GPIO[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PARALLEL_GPIO[1]" 33;
IO_PORT "PARALLEL_GPIO[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PARALLEL_GPIO[2]" 34;
IO_PORT "PARALLEL_GPIO[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PARALLEL_GPIO[3]" 36;
IO_PORT "PARALLEL_GPIO[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PARALLEL_GPIO[4]" 37;
IO_PORT "PARALLEL_GPIO[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PARALLEL_GPIO[5]" 38;
IO_PORT "PARALLEL_GPIO[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PARALLEL_GPIO[6]" 39;
IO_PORT "PARALLEL_GPIO[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PARALLEL_GPIO[7]" 40;
IO_PORT "PARALLEL_GPIO[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PARALLEL_GPIO[8]" 41;
IO_PORT "PARALLEL_GPIO[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PARALLEL_GPIO[9]" 42;
IO_PORT "PARALLEL_GPIO[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP;


IO_LOC "CLK_IN" 10;
IO_PORT "CLK_IN" IO_TYPE=LVCMOS33 PULL_MODE=UP;
